// mixins
@mixin flexPosition($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 70px 0 90px 0;
}

@mixin underline ($height, $width, $top) {
    content: '';
    position: absolute;
    height: $height;
    width: $width;
    top: $top;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    display: block;
}

@mixin paragraph {
    font-family: 'Roboto', sans-serif;
    color: #707070;
    line-height: 24px;
}

@mixin sectionTitle {
    text-transform: uppercase;
    font-size: 35px;
    position: relative;
    margin-bottom: 65px;
    color: #333333;
    line-height: 45px;
}

@mixin decorativeTitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    text-transform: none;
    font-weight: 400;
}

$pink: #e88283;
$aqua: #95e1d3;
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif; // overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

// p {
//     font-family: 'Roboto', sans-serif;
//     color: #707070;
// }
ul {
    list-style-type: none;
    padding: 0;
}

.header {
    color: #fff;
}

.nav {
    position: fixed; // background-color: #e88283;
    width: 100%;
    height: 100px;
    @include flexPosition(center, center);
    z-index: 1000;
    &__wrapper {
        @include flexPosition(space-between, center);
        max-width: 1200px;
        width: 100%;
    }
    &__menu {
        @include flexPosition(space-between, center);
        text-transform: uppercase;
    }
    &__item {
        margin-left: 40px;
    }
    &__link {
        &:hover {
            color: #f0d088;
            border-bottom: 3px solid #f0d088;
            padding-bottom: 10px;
        }
        &--shop {
            &:hover {
                border-bottom: none;
            }
        }
    }
    &__logo {
        font-size: 30px;
        font-weight: bold;
    }
    &__input {
        background-image: url(../images/search.png);
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        transition: 1s;
        outline: none;
        &:hover {
            background-color: #dd6868;
        }
        &:focus {
            width: 150px;
            border-radius: 80px;
            background-color: #dd6868;
            background-position-x: 20px;
        } // &.checked {
        //     width: 80px;
        //     background-color: #dd6868;
        // }
    }
}

.checked {
    width: 150px;
    height: 20px;
    border-radius: 40%;
    background-color: #dd6868;
}

.color-nav {
    background-color: $pink;
}

.carousel {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    background-image: url(../images/banner1.png);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__item-container {
        height: 100%;
        width: 100%;
        @include flexPosition(center, center);
        flex-direction: column;
        text-align: center;
    }
    &__item {
        // background-image: url(../images/banner1.png);
        height: 100vh;
        width: 100vw; // background-repeat: no-repeat;
        // background-position: center;
        // background-size: cover;
        // @include flexPosition(center, center);
        flex-direction: column;
        text-align: center;
        position: relative;
        animation: 1s ease-in-out;
        display: none;
        &.active {
            display: block
        }
        &.next {
            display: block;
            position: absolute;
            top: 0;
            width: 100%;
        }
        &.to-left {
            animation-name: left;
        }
        &.to-right {
            animation-name: right;
            animation-direction: reverse;
        }
        &.from-left {
            animation-name: left;
            animation-direction: reverse;
        }
        &.from-right {
            animation-name: right;
        }
    }
    &__text {
        font-family: 'Kaushan Script', cursive;
        font-size: 60px;
    }
    &__header-text {
        font-size: 120px;
        margin-top: 30px;
        line-height: 110px;
        text-transform: uppercase;
        position: relative;
        &::after {
            // content: '';
            // position: absolute;
            // height: 6px;
            // width: 70px;
            // top: 125%;
            // left: 50%;
            // transform: translateX(-50%);
            // background-color: white;
            // display: block;
            @include underline(6px, 70px, 125%);
        }
    }
    &__link {
        color: #fff;
        transition: all 0.5s;
        position: relative;
        text-decoration: none;
        display: block;
        height: 45px;
        width: 180px;
        line-height: 45px;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 40px;
        border: 2px solid rgba(255, 255, 255, 0.7);
        overflow: hidden;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0;
            background-color: rgba(232, 130, 131, 0.5);
            transition: all 1s;
        } // &::after {
        //     content: '';
        //     position: absolute;
        //     top: 50px;
        //     left: -5px;
        //     width: 0;
        //     height: 0;
        //     border-left: 100px solid transparent;
        //     border-right: 100px solid transparent;
        //     border-bottom: 190px solid rgba(255, 255, 255, 0.25);
        //     z-index: 1;
        //     transition: all 0.5s;
        //     transition-delay: 0.2s;
        // }
        &:hover {
            border-color: rgba(232, 130, 131, 0.5);
            transition: .5s;
            transition-delay: .2s; // &:after {
            //     opacity: 1;
            //     -webkit-transform: translate(0px, -150px);
            //     transform: translate(0px, -150px);
            // }
            &:before {
                opacity: 1;
                -webkit-transform: skewX(-180deg) scale(0.7, 1);
                transform: skewX(-180deg) scale(1, 1);
            }
        }
        &--span {
            position: relative;
            z-index: 2;
        }
    } // &__navigation {
    //     position: absolute;
    //     left: 50%;
    //     top: 80%;
    //     width: 500px;
    //     display: flex;
    //     justify-content: space-between;
    //     transform: translateX(-50%);
    // }
}

.navigation {
    position: absolute;
    left: 50%;
    top: 90%;
    width: 1300px;
    display: flex;
    justify-content: space-between;
    transform: translateX(-50%);
    &__item {
        width: 250px;
    }
    &__bar {
        position: relative; // border: 1px solid rgba(0, 0, 0, 0.8);
        width: 0;
        height: 8px; // margin: 80px 0 0 80px;
        background: $pink;
        border-radius: 0.8em; // animation: roll 5s linear infinite;
        &:after {
            width: 250px;
            height: 8px; // border: 1px solid rgba(0, 0, 0, 0.8);
            background: #fff;
            border-radius: 1em;
            display: block;
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
        }
        &.animate {
            animation: roll 3s linear infinite;
            animation-delay: 1s;
        }
    }
    &__title {
        margin-top: 20px;
        text-transform: uppercase;
        cursor: pointer;
    }
    &__bold-number {
        font-weight: bold;
        font-size: 20px;
    }
}

.inactive {
    display: none;
}

.about {
    @include container;
    text-align: center;
    &__title {
        @include sectionTitle;
        &:after {
            @include underline(3px, 60px, 130%);
            background-color: $pink;
        }
        &--decorative {
            @include decorativeTitle;
        }
    }
    &__text {
        @include paragraph;
    }
    &__gallery {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 90px;
    }
    &__img-container {
        background-color: $aqua;
        height: 250px;
        width: 380px;
        position: relative;
        // transition: .5s;
        &:hover .about__img {
            top: -10px;
            left: -10px;
        }
        
        &:hover .about__layer {
            top: -10px;
            left: -10px;
            width: 100%;
            height: 100%;
            opacity: 1;
            background: linear-gradient(to bottom, rgba(219, 117, 116, 0.9) 0%, rgba(219, 118, 116, 0.9) 1%, rgba(227, 204, 124, 0.9) 100%);
        }
        &:hover .about__link {
            opacity: 1;
        }
    }
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: .4s;
    }
    &__layer {
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        transition: all .4s;
    }
    &__link {
        position: absolute;
        top: calc(50% - 10px);
        left: calc(50% - 10px);
        transform: translate(-50%,-50%);
        background: url(../images/about-icon.png);
        background-position: top;
        background-repeat: no-repeat;
        padding-top: 25px;
        opacity: 0;
        transition: .6s;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.counter {
    background-color: $aqua;
    &__container {
        @include container;
        height: 230px;
        padding: 0;
        display: flex;

        // justify-content: space-between;
    }
    &__box {
        border-left: 1px solid #fff;
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &:nth-of-type(5) {
            border-right: 1px solid #fff;
        }
        
    }
    &__text {
        color: #fff;
        text-align: center;
        text-transform: uppercase;
    }
    &__number {
        display:block;
        font-size: 50px;
        font-weight: bold;
    }
    
}
@keyframes roll {
    0% {
        width: 0;
    }
    100% {
        width: 250px;
    }
}

@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}