* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Montserrat', sans-serif; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style-type: none;
  padding: 0; }

.header {
  color: #fff; }

.nav {
  position: fixed;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000; }
  .nav__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1200px;
    width: 100%; }
  .nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase; }
  .nav__item {
    margin-left: 40px; }
  .nav__link:hover {
    color: #f0d088;
    border-bottom: 3px solid #f0d088;
    padding-bottom: 10px; }
  .nav__link--shop:hover {
    border-bottom: none; }
  .nav__logo {
    font-size: 30px;
    font-weight: bold; }
  .nav__input {
    background-image: url(../images/search.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-transition: 1s;
    transition: 1s;
    outline: none; }
    .nav__input:hover {
      background-color: #dd6868; }
    .nav__input:focus {
      width: 150px;
      border-radius: 80px;
      background-color: #dd6868;
      background-position-x: 20px; }

.checked {
  width: 150px;
  height: 20px;
  border-radius: 40%;
  background-color: #dd6868; }

.color-nav {
  background-color: #e88283; }

.carousel {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  background-image: url(../images/banner1.png);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .carousel__item-container {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center; }
  .carousel__item {
    height: 100vh;
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    position: relative;
    -webkit-animation: 1s ease-in-out;
            animation: 1s ease-in-out;
    display: none; }
    .carousel__item.active {
      display: block; }
    .carousel__item.next {
      display: block;
      position: absolute;
      top: 0;
      width: 100%; }
    .carousel__item.to-left {
      -webkit-animation-name: left;
              animation-name: left; }
    .carousel__item.to-right {
      -webkit-animation-name: right;
              animation-name: right;
      animation-direction: reverse; }
    .carousel__item.from-left {
      -webkit-animation-name: left;
              animation-name: left;
      animation-direction: reverse; }
    .carousel__item.from-right {
      -webkit-animation-name: right;
              animation-name: right; }
  .carousel__text {
    font-family: 'Kaushan Script', cursive;
    font-size: 60px; }
  .carousel__header-text {
    font-size: 120px;
    margin-top: 30px;
    line-height: 110px;
    text-transform: uppercase;
    position: relative; }
    .carousel__header-text::after {
      content: '';
      position: absolute;
      height: 6px;
      width: 70px;
      top: 125%;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      background-color: white;
      display: block; }
  .carousel__link {
    color: #fff;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    position: relative;
    text-decoration: none;
    display: block;
    height: 45px;
    width: 180px;
    line-height: 45px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 40px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    overflow: hidden; }
    .carousel__link:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      background-color: rgba(232, 130, 131, 0.5);
      -webkit-transition: all 1s;
      transition: all 1s; }
    .carousel__link:hover {
      border-color: rgba(232, 130, 131, 0.5);
      -webkit-transition: .5s;
      transition: .5s;
      -webkit-transition-delay: .2s;
              transition-delay: .2s; }
      .carousel__link:hover:before {
        opacity: 1;
        -webkit-transform: skewX(-180deg) scale(0.7, 1);
        transform: skewX(-180deg) scale(1, 1); }
    .carousel__link--span {
      position: relative;
      z-index: 2; }

.navigation {
  position: absolute;
  left: 50%;
  top: 90%;
  width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }
  .navigation__item {
    width: 250px; }
  .navigation__bar {
    position: relative;
    width: 0;
    height: 8px;
    background: #e88283;
    border-radius: 0.8em; }
    .navigation__bar:after {
      width: 250px;
      height: 8px;
      background: #fff;
      border-radius: 1em;
      display: block;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1; }
    .navigation__bar.animate {
      -webkit-animation: roll 3s linear infinite;
              animation: roll 3s linear infinite;
      -webkit-animation-delay: 1s;
              animation-delay: 1s; }
  .navigation__title {
    margin-top: 20px;
    text-transform: uppercase;
    cursor: pointer; }
  .navigation__bold-number {
    font-weight: bold;
    font-size: 20px; }

.inactive {
  display: none; }

.about {
  max-width: 1200px;
  margin: 0 auto;
  padding: 70px 0 90px 0;
  text-align: center; }
  .about__title {
    text-transform: uppercase;
    font-size: 35px;
    position: relative;
    margin-bottom: 65px;
    color: #333333;
    line-height: 45px; }
    .about__title:after {
      content: '';
      position: absolute;
      height: 3px;
      width: 60px;
      top: 130%;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      background-color: white;
      display: block;
      background-color: #e88283; }
    .about__title--decorative {
      font-family: 'Kaushan Script', cursive;
      font-size: 24px;
      text-transform: none;
      font-weight: 400; }
  .about__text {
    font-family: 'Roboto', sans-serif;
    color: #999999;
    line-height: 24px;
    font-size: 15px; }
  .about__gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 90px; }
  .about__img-container {
    background-color: #95e1d3;
    height: 250px;
    width: 380px;
    position: relative; }
    .about__img-container:hover .about__img {
      top: -10px;
      left: -10px; }
    .about__img-container:hover .about__layer {
      top: -10px;
      left: -10px;
      width: 100%;
      height: 100%;
      opacity: 1;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(219, 117, 116, 0.9)), color-stop(1%, rgba(219, 118, 116, 0.9)), to(rgba(227, 204, 124, 0.9)));
      background: linear-gradient(to bottom, rgba(219, 117, 116, 0.9) 0%, rgba(219, 118, 116, 0.9) 1%, rgba(227, 204, 124, 0.9) 100%); }
    .about__img-container:hover .about__link {
      opacity: 1; }
  .about__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: .4s;
    transition: .4s; }
  .about__layer {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    -webkit-transition: all .4s;
    transition: all .4s; }
  .about__link {
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: url(../images/about-icon.png);
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 25px;
    opacity: 0;
    -webkit-transition: .6s;
    transition: .6s;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase; }

.counter {
  background-color: #95e1d3; }
  .counter__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 70px 0 90px 0;
    height: 230px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .counter__box {
    border-left: 1px solid #fff;
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .counter__box:nth-of-type(5) {
      border-right: 1px solid #fff; }
  .counter__text {
    color: #fff;
    text-align: center;
    text-transform: uppercase; }
  .counter__number {
    display: block;
    font-size: 50px;
    font-weight: bold; }

.services__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 70px 0 90px 0; }

.services__title {
  text-transform: uppercase;
  font-size: 35px;
  position: relative;
  margin-bottom: 65px;
  color: #333333;
  line-height: 45px;
  text-align: center;
  position: relative; }
  .services__title:after {
    content: '';
    position: absolute;
    height: 3px;
    width: 60px;
    top: 130%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: white;
    display: block;
    background-color: #e88283; }
  .services__title--decorative {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    text-transform: none;
    font-weight: 400; }

.services__items-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 0 10px; }
  .services__items-container:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    height: 1px;
    width: 100%;
    background-color: #dddddd; }

.services__item {
  width: 33%;
  padding-left: 60px;
  padding-right: 30px;
  margin-top: 50px;
  margin-bottom: 50px; }
  .services__item--photography {
    background: url(../images/photography.png) left top no-repeat; }
  .services__item--web-design {
    background: url(../images/web_design.png) left top no-repeat; }
  .services__item--creativity {
    background: url(../images/creativity.png) left top no-repeat; }
  .services__item--seo {
    background: url(../images/seo.png) left top no-repeat; }
  .services__item--css {
    background: url(../images/css-html.png) left top no-repeat; }
  .services__item--digital {
    background: url(../images/digital.png) left top no-repeat; }

.services__item-title {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 15px; }

.services__item-text {
  font-family: 'Roboto', sans-serif;
  color: #999999;
  line-height: 24px;
  font-size: 15px;
  font-size: 14px; }

.design {
  background: url(../images/design-bg.jpg) center;
  background-size: cover;
  height: 990px;
  padding-top: 70px; }
  .design__title {
    text-transform: uppercase;
    font-size: 35px;
    position: relative;
    margin-bottom: 65px;
    color: #333333;
    line-height: 45px;
    position: relative;
    text-align: center; }
    .design__title:after {
      content: '';
      position: absolute;
      height: 3px;
      width: 60px;
      top: 130%;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      background-color: white;
      display: block;
      background-color: #e88283; }
    .design__title--decorative {
      font-family: 'Kaushan Script', cursive;
      font-size: 24px;
      text-transform: none;
      font-weight: 400; }

@-webkit-keyframes roll {
  0% {
    width: 0; }
  100% {
    width: 250px; } }

@keyframes roll {
  0% {
    width: 0; }
  100% {
    width: 250px; } }

@-webkit-keyframes left {
  from {
    left: 0; }
  to {
    left: -100%; } }

@keyframes left {
  from {
    left: 0; }
  to {
    left: -100%; } }

@-webkit-keyframes right {
  from {
    left: 100%; }
  to {
    left: 0; } }

@keyframes right {
  from {
    left: 100%; }
  to {
    left: 0; } }
