* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Montserrat', sans-serif; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style-type: none;
  padding: 0; }

.header {
  color: #fff; }

.nav {
  position: fixed;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000; }
  .nav__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1200px;
    width: 100%; }
  .nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase; }
  .nav__item {
    margin-left: 40px; }
  .nav__link:hover {
    color: #f0d088;
    border-bottom: 3px solid #f0d088;
    padding-bottom: 10px; }
  .nav__link--shop:hover {
    border-bottom: none; }
  .nav__logo {
    font-size: 30px;
    font-weight: bold; }
  .nav__input {
    background-image: url(../images/search.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-transition: 1s;
    transition: 1s;
    outline: none; }
    .nav__input:hover {
      background-color: #dd6868; }
    .nav__input:focus {
      width: 150px;
      border-radius: 80px;
      background-color: #dd6868;
      background-position-x: 20px; }

.checked {
  width: 150px;
  height: 20px;
  border-radius: 40%;
  background-color: #dd6868; }

.color-nav {
  background-color: #e88283; }

.carousel {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden; }
  .carousel__item {
    background-image: url(../images/banner1.png);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center; }
  .carousel__text {
    font-family: 'Kaushan Script', cursive;
    font-size: 60px; }
  .carousel__header-text {
    font-size: 120px;
    margin-top: 30px;
    line-height: 110px;
    text-transform: uppercase;
    position: relative; }
    .carousel__header-text::after {
      content: '';
      position: absolute;
      height: 6px;
      width: 70px;
      top: 125%;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      background-color: white;
      display: block; }
  .carousel__link {
    color: #fff;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    position: relative;
    text-decoration: none;
    display: block;
    height: 45px;
    width: 180px;
    line-height: 45px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 40px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    overflow: hidden; }
    .carousel__link:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      background-color: rgba(232, 130, 131, 0.5);
      -webkit-transition: all 1s;
      transition: all 1s; }
    .carousel__link:hover {
      border-color: rgba(232, 130, 131, 0.5);
      -webkit-transition: .5s;
      transition: .5s;
      -webkit-transition-delay: .2s;
              transition-delay: .2s; }
      .carousel__link:hover:before {
        opacity: 1;
        -webkit-transform: skewX(-180deg) scale(0.7, 1);
        transform: skewX(-180deg) scale(1, 1); }
    .carousel__link--span {
      position: relative;
      z-index: 2; }

.navigation {
  position: absolute;
  left: 50%;
  top: 90%;
  width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }
  .navigation__item {
    width: 250px; }
  .navigation__bar {
    position: relative;
    width: 0;
    height: 8px;
    background: #e88283;
    border-radius: 0.8em; }
    .navigation__bar:after {
      width: 250px;
      height: 8px;
      background: #fff;
      border-radius: 1em;
      display: block;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1; }
    .navigation__bar.animate {
      -webkit-animation: roll 5s linear infinite;
              animation: roll 5s linear infinite; }
  .navigation__title {
    margin-top: 20px;
    text-transform: uppercase;
    cursor: pointer; }
  .navigation__bold-number {
    font-weight: bold;
    font-size: 20px; }

.inactive {
  display: none; }

@-webkit-keyframes roll {
  0% {
    width: 0; }
  100% {
    width: 240px; } }

@keyframes roll {
  0% {
    width: 0; }
  100% {
    width: 240px; } }

.d {
  height: 100vh; }
